@use '../../../styles/breakpoints' as *;

.app__container {

    margin: auto;
    padding: 2rem 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    .app__font--white {
        color: ghostwhite;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        margin-top: -1rem;
        font-size: 1rem;
        font-style: italic;
    }

    .instructions {
        font-size: 1.25rem;
        margin: auto;
        padding: 1rem 0 2rem;
        width: 50%;
    }

    .notes__container {

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin: auto;

        @include respond(sm) {
            flex-direction: column;
    }
        @include respond(md) {
            flex-direction: column;
        }

        @include respond(lg) {
            flex-direction: column;
        }

        @include respond(xl) {
            flex-direction: column;
        }

        div {
            width: 40rem;
            background-color: ghostwhite;
            border-radius: .75rem;
            height: 35rem;
            padding: 2rem;

            @include respond(sm) {
                width: 16rem;
                height: 40rem;
            }

            @include respond(md) {
                padding-bottom: 3rem;
            }

            @include respond(lg) {
                padding-bottom: 3rem;
            }
        }

        &.active {
            flex-direction: row-reverse;

            @include respond(sm){
                flex-direction: column-reverse;
            }

            @include respond(md){
                flex-direction: column-reverse;
            }

            @include respond(lg){
                flex-direction: column-reverse;
            }
        }
    }
}

