@use 'styles/breakpoints';

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

body {
    background-image: radial-gradient(#94A89A 25%, #797D81);
}

header {
    font-size: 2rem;
    padding: 1rem;
}